daemon off;

events {}

error_log "/dev/stdout" info;

http {
  server {
    listen               8443 ssl http2;
    ssl_certificate      /etc/tls/tmp.crt;
    ssl_certificate_key  /etc/tls/tmp.key;
    ssl_session_timeout  5m;
    ssl_protocols        TLSv1.2;

    location / {
      proxy_pass http://127.0.0.1:8080;
    }
  }
}
